<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <title>Neural Noise - Snippet, temperature {{song['temperature']}} - Checkpoint {{checkpoint['name']}}</title>

  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/static/components/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="/static/css/style.css"/>

	<script src="/static/js/inc/shim/Base64.js" type="text/javascript"></script>
	<script src="/static/js/inc/shim/Base64binary.js" type="text/javascript"></script>
	<script src="/static/js/inc/shim/WebAudioAPI.js" type="text/javascript"></script>
	<script src="/static/js/inc/shim/WebMIDIAPI.js" type="text/javascript"></script>
	<script src="/static/js/inc/jasmid/stream.js"></script>
	<script src="/static/js/inc/jasmid/midifile.js"></script>
	<script src="/static/js/inc/jasmid/replayer.js"></script>
	<script src="/static/js/midi/audioDetect.js" type="text/javascript"></script>
	<script src="/static/js/midi/gm.js" type="text/javascript"></script>
	<script src="/static/js/midi/loader.js" type="text/javascript"></script>
	<script src="/static/js/midi/plugin.audiotag.js" type="text/javascript"></script>
	<script src="/static/js/midi/plugin.webaudio.js" type="text/javascript"></script>
	<script src="/static/js/midi/plugin.webmidi.js" type="text/javascript"></script>
	<script src="/static/js/midi/player.js" type="text/javascript"></script>
	<script src="/static/js/util/dom_request_xhr.js" type="text/javascript"></script>
	<script src="/static/js/util/dom_request_script.js" type="text/javascript"></script>
	<script src="/static/js/inc/timer.js" type="text/javascript"></script>
	<script src="/static/js/inc/colorspace.js" type="text/javascript"></script>
	<script src="/static/js/inc/event.js" type="text/javascript"></script>


  <script src="/static/components/angular/angular.js"></script>
  <script src="/static/components/angular-animate/angular-animate.js"></script>
  <script src="/static/components/angular-aria/angular-aria.js"></script>
  <script type="text/javascript" src="/static/components/angular-material/angular-material.js"></script>

  <script src="/static/js/app/main.js"></script>

  <script>
    var song = 'data:audio/midi;base64,{{ song['midi'] }}';
    var player;
    window.onload = function() {
      MIDI.loadPlugin({
        soundfontUrl: '/static/soundfont/',
        instruments: [
          'acoustic_grand_piano',
          'bright_acoustic_piano'
        ],
        onsuccess: function() {
          /// this sets up the MIDI.Player and gets things going...
          player = MIDI.Player;
          player.timeWarp = 1; // speed the song is played back
          player.loadFile(song, function() {
            document.getElementById('playpause').disabled = false;
            document.getElementById('play-loading').style.visibility = 'hidden';
          });
        }
      });
    }

    var stop_id;
    function playpause() {
      if (stop_id) {
        window.clearTimeout(stop_id);
      }
      if (player.playing) {
        player.pause();
        var pp = document.getElementById('playpause');
        pp.classList.remove('stopped', 'playing');
        pp.classList.add('paused');
      } else {
        player.start();
        var pp = document.getElementById('playpause');
        pp.classList.remove('stopped', 'paused');
        pp.classList.add('playing');
        stop_id = window.setTimeout(function() {
          player.stop();
          pp.classList.remove('paused', 'playing');
          pp.classList.add('stopped');
        }, player.endTime - player.currentTime);
      }
    }
  </script>
</head>
<body ng-app="neuralNoise" ng-controller="MainController as main"
      layout="row" layout-align="center"
      ng-init="main.temperature = '{{song['temperature']}}'; main.checkpoint = '{{checkpoint['name']}}'">
  <md-content class="main-content" flex-gt-sm="70" flex-sm="90"
              layout="column" layout-padding>
    <p>
      The following is a song snippet that was pregenerated using the
      <a href="/">Neural Noise</a> system. You can <a href="/about">read
      more</a> about Neural Noise, or listen to the snippet using the controls
      below. More information about the song:
    </p>
    <p>
      <b>Checkpoint:</b> {{checkpoint['name']}} ({{checkpoint['nickname']}})
      <br>
      <b>Temperature:</b> {{song['temperature']}}
      <br>
      <md-button ng-click="main.getRandomSong()">
        Explore similar songs
      </md-button>
    </p>
    <p>
      The code for this project is open source and
      <a href="https://github.com/audiodude/neural-noise">lives on Github</a>.
    </p>
    <hr>
    <section layout="row" layout-align="center">
      <textarea class="render-abc" flex rows="{{song['abc_rows']}}">{{ song['abc'] }}</textarea>
    </section>
    <section layout="row" layout-align="center center">
      <md-progress-circular id="play-loading" md-mode="indeterminate"></md-progress-circular>
      <md-button id="playpause" class="stopped" onclick="playpause()"
                 disabled="disabled">
        <md-icon class="paused stopped">play_arrow</md-icon>
        <md-icon class="playing">pause</md-icon>
        <span class="stopped">Play</span>
        <span class="playing">Pause</span>
        <span class="paused">Resume</span>
      </md-button>
      <a download="{{song['_id']}}.mid"
         href="data:audio/midi;base64,{{ song['midi'] }}" class="md-button">
        <md-icon>vertical_align_bottom</md-icon>
        Download
      </a>
    </section>
    <section layout="row" layout-align="center">
      <img class="render-score" flex src="/2png/{{ song['_id'] }}.png"/>
    </section>
  </md-content>
</body>
</html>
